* {
  margin: 0;
}

:root {
  --primary-color: #F4F4F4;
  --secondary-color: #FFFFFF;
  --accent-color: #4A90E2;
  --font-color: #2E2E2E;
  --main-font-stack: "Roboto", "Verdana", sans-serif;
}

body {
  background-color: var(--primary-color);
}

.header-container {
  position: relative;
  margin-top: 25px;
  width: 100vw;
  background-color: var(--secondary-color);
}

.profile-container {
  position: relative;
  margin-left: 14vw;
}

.profile-container img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.title-container {
  position: absolute;
  top: 50px;
  left: 325px;
  font-family: var(--main-font-stack);
  color: var(--font-color);
}

.title-container h1 {
  margin: 0;
}

.title-container h3{
  margin: 0;
  font-size: 20px;
  font-weight: lighter;
  
}

.link-container {
  position: absolute;
  margin-top: 10px;
}

.link-container img {
  width: 25px;
  height: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin-left: 14vw;
  margin-right: 14vw;
}

.grid > * {
  background-color: var(--secondary-color);
  margin: 10px;
}

.about-me {
  grid-column: 1 / 3;
}

.technical-skills {
  grid-column: 3 / 4
}

.projects {
  
}

.contact {
  grid-column: 3 / 4;
}

.education {

}

.grid h2 {
  margin: 25px;
  font-family: var(--main-font-stack);
  color: var(--font-color);
}

.grid p {
  margin: 25px;
  font-family: var(--main-font-stack);
  color: var(--font-color);
}

.contact p {
  display:flex;
  align-items: center;
}