* {
  margin: 0;
}

body {
  background-color: #f1f1f1;
}

.image-container {
  position: relative;
  margin-top: 50px;
  background-color: #ffffff;
  width: 100vw;
}

.image-container img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.text {
  position: absolute;
  top: 50px;
  left: 325px;
}

.text h1 {
  margin: 0;
}

.text h2{
  margin: 0;
}

.links {
  position: absolute;
  margin-top: 10px;
}

.links a {
  width: 50px;
  height: 50px;
}
